@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap);
@charset "UTF-8";

.filters-heading {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.filters-block {
    margin-top: 15px;
}

.filters-block-list-item {
    cursor: pointer;
    list-style-type: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: -1px 2px 10px 0px rgba(34, 60, 80, 0.2);
}

.filters-block-list-item-caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
