@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap);
@charset "UTF-8";

.wrap {
    width: 40%;
}

.search {
    width: 100%;
    position: relative;
}

.search-form {
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 1px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 37px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 0.75rem;
}

.search-result {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.search-result-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.search-result-list-item {
    padding: 10px 15px;
    transition: 0.2s all ease;
}

.search-result-list-item a {
    color: #333;
    font-size: 1rem;
    text-decoration: none;
}

.search-result-list-item:hover {
    background-color: #4aa0e6;
}

.search-result-list-item:hover a {
    color: #fff;
}

