@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap);
@charset "UTF-8";

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.event-list-item {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.events-row {
    margin-right: -10px;
}

.events-row:hover > .event-list-item:not(:hover) > .event {
    filter: brightness(0.85) saturate(1)
            contrast(1.2) blur(4px);
}

.event {
    width: 313px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    transition: 0.2s all ease;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #fff;
}

.event:hover {
    transform: scale(1.05);
}

.event-shadow {
    box-shadow: -1px 2px 10px 0px rgba(34, 60, 80, 0.2);
}

.event-preview {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.event-preview img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.event-title {
    font-weight: 700;
    font-size: 1.35rem;
}

.event-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.event-date {
    margin-bottom: 5px;
}
.event-date, .event-location {
    display: inline-block;
    font-weight: 300;
    font-size: 1.05rem;
    color: #b9b9bd;
    padding-left: 5px;
}

.btn-more {
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 1.1rem;
}

.btn-more:hover {
    color: #333;
    background-color: transparent;
}
