:root {
    --bg: #bdc7c2;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --nav-item-size: calc(var(--nav-size) * 0.8);
    --button-size: calc(var(--nav-size) * 0.5);
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.event-filters {
    position: relative;
}

.dropdown-filter {
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--bg);
    overflow: hidden;
    transition:  height var(--speed) ease;
    cursor: pointer;
}

.menu {
    width: 100%;
}

.menu a {
    color: #333;
    text-decoration: none;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: var(--border-radius);
    transition: var(--speed);
}

.menu-item:hover {
    background-color: #bcbcdc;
}

.icon-right {
    margin-left: auto;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit {

}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}
