.event-filters {
    position: relative;
}

.dropdown-filter {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition:  height 500ms ease;
    cursor: pointer;
}

.menu {
    width: 100%;
}

.menu a {
    color: #333;
    text-decoration: none;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    transition: 500ms;
}

.menu-item:hover {
    background-color: #caf9f9;
}

.icon-right {
    margin-left: auto;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all 500ms ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-secondary-exit {

}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all 500ms ease;
}
